@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-field {
    @apply flex-1 w-full outline-none text-lg font-semibold placeholder:font-medium transition placeholder:text-grayish-blue text-dark-blue border-[1px] border-grayish-blue focus:border-dark-blue md:px-6 px-4 md:py-4 py-[14px] rounded-md;
  }
  .button {
    @apply w-full text-center font-medium uppercase text-base bg-primary-green text-white md:py-5 py-4 md:px-3 px-2 rounded-md hover:opacity-70 button-box-shadow transition;
  }
  .error-input {
    @apply border-primary-red border-2;
  }
  .error-message {
    @apply text-right text-primary-red text-sm italic;
  }
}

@layer components {
}

#page-wrapper {
  background: url('../assets/bg-intro-desktop.png'),
    linear-gradient(#ff7a7a, #ff7a7a);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

body {
  font-family: 'Poppins', sans-serif;
}

.box-shadow {
  box-shadow: rgb(62, 60, 73, 0.28) 0px 8.58px 1.5px 0;
}

.button-box-shadow {
  box-shadow: hsl(153, 57%, 46%) 0px 5.8px;
}
